* {
  padding: 0;
  margin: 0;
}

.body {
  background: url(cobra.jpg); /* I get the image from bing.com freeimages*/
  background-size: 168vw 125vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#score-box {
  font-size: 35px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 20px;
  right: 150px;
}

#high-score-box {
  font-size: 35px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 60px;
  right: 50px;
}

  
#board {
  box-shadow: black 20px 10px 50px;
  background: linear-gradient(rgb(231, 235, 101), rgb(130, 196, 171));
  width: 80vmin;
  height: 80vmin;
  border-style: solid;
  border-color: rgb(7, 7, 7);
  display: grid;
  grid-template-rows: repeat(17, 1fr);
  grid-template-columns: repeat(17, 1fr);
}

.head {
  background-color: rgb(68, 28, 136);
  border-radius: 7px;
}
.snake {
  background-color: rgb(215, 11, 234);
  border: 0.22vmin solid rgb(219, 228, 130);
  border-radius: 19px;
}
.food {
  background: url(food.png);
  border: 0.22vmin solid rgb(174, 18, 18);
  border-radius: 16px;
}
