* {
  padding: 0;
  margin: 0;
}

.body {
  background: url(cobra.jpg); /* I get the image from bing.com freeimages*/
  background-size: 165vw 140vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  background: linear-gradient(rgb(204, 227, 204), rgb(166, 172, 61));
  width: 80vmin;
  height: 80vmin;
  border-style: solid;
  border-color: rgb(7, 7, 7);
  display: grid;
  grid-template-rows: repeat(17, 1fr);
  grid-template-columns: repeat(17, 1fr);
}

.head {
  background-color: rgb(219, 29, 114);
}

.snake{
    background-color: blueviolet;
}

.food {
  background-color: rgb(200, 245, 102);
}
